.provide {
    display: grid;
    grid-template-columns: 1.6fr 1fr;
    grid-template-rows: repeat(4,auto);
    justify-items: start;
    align-items: end;
    row-gap: 3%;
}

.provide__img {
    grid-row-start: span 4;
    align-self: start;
	width: 100%;
}

.button_place_provide {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #ff7a50;
    border-radius: 30px 30px 1px 30px;
    -webkit-border-radius: 30px 30px 1px 30px;
    -moz-border-radius: 30px 30px 1px 30px;
    -ms-border-radius: 30px 30px 1px 30px;
    -o-border-radius: 30px 30px 1px 30px;
    border:none;
    box-shadow: 0px 22px 40px 0px #FF683830;
    padding: 4% 10%;
    align-self: start;
}



.accordion {
    align-self: center;
    @include flexi(column,flex-start,space-between);
}

.accordion-head {
	cursor: pointer;
    @include flexi(row,center,flex-start);
    gap: 25px;
}
.accordion-head.active-p + .accordion-block {
	display: block;
}

.accordion-head.active-style {
	color: #2c3878;
	font-weight: 900;
}

.accordion-block {
	max-height: 0;
	opacity: 0;
	transition: all 0.3s ease-out;
	overflow: hidden;
    font-family: 'Rubik';
    font-weight: 400;
	font-size: 20px;
	text-align: justify;
	border-radius: 15px;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.04), 0 4px 20px rgba(0, 0, 0, 0.1);
	padding: 5%;
}
.accordion-block.active-content {
	opacity: 1;
	overflow: visible;
    margin: 5% 0;
}


#open-modal__btn {
	cursor: pointer;
	display: block;
}

.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
    overflow: auto;
}

.modal_active {
	display: block;
}

.modal__content {
	width: 30%;
	margin: 4% auto;
	box-shadow: 1px 1px 10px #777777;
	padding: 3%;
	padding-left: 4%;
	background-color: #fff;
	/*Дляанимации*/position: relative;
	animation-name: animatetop;
	animation-duration: 0.4s;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
}

.modal__text {
    @include flexi(column,flex-start,space-between);
	gap: 20px;
}

.modal__img {
    width: 70%;
	align-self: center;
}

.modal__items {
	@include flexi(row,center,space-between);
	gap: 20px;
}


.modal__close {
	font-size: 40px;
	color: #777777;
	cursor: pointer;
	float: right;
}

@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}



@media screen and (max-width: 1024px) {
    .provide {grid-template-columns: 1.2fr 1fr;}
	.modal__content {
		width: 45%;
		padding: 4%;
		padding-left: 5%;
		margin-top: 6%;
	}
}

@media screen and (max-width: 768px) {
	.provide {
		@include flexi(column,center,space-between);
		gap: 30px;
		text-align: center;
	}
	.provide p:nth-child(3) {width: 90%;}

	.provide__img,
	.accordion,
	.button_place_provide {order: 1;}

	.provide__img {
		width: 80%;
		margin: auto;
	}
	.button_place_provide {
		margin: auto;
		padding: 3% 7%;
	}
	.accordion-block {width: 70%;}

	.modal__content {
		width: 55%;
		padding: 5%;
		padding-left: 6%;
		margin-top: 10%;
	}
}

@media screen and (max-width: 426px) and (min-width: 320px) {
	.provide p:nth-child(3) {width: 98%;}
	.accordion-block {width: 94%;}
	.accordion-head p { text-align: left;}
	.button_place_provide {padding: 5% 10%;}
	.modal__content {
		width: 77%;
		padding: 8%;
		padding-left: 9%;
		margin-top: 10%;
		text-align: left;
	}
}